API_KEY_DEV=***
AUTH_DOMAIN_DEV=***
PROJECT_ID_DEV=***
STORAGE_BUCKET_DEV=***
MESSAGING_SENDER_ID_DEV=***
APP_ID_DEV=***
DATABASE_URL_DEV=***

API_GATEWAY=***
API_KEY=***

USERS=["Test"]

ADMIN_USERS=["Test"]

EXPO_ASC_KEY_ID=***
EXPO_ASC_ISSUER_ID=***
EXPO_APPLE_TEAM_ID=***
EXPO_APPLE_TEAM_TYPE=***
EXPO_APPLE_ID=***